<div id="job-table">
<table>
<tr>
	<th>Customer</th>
	<th>projects</th>
</tr>
<% @test_for_job_count = 0 %>
<% @jobloop = Job.all %>




<% #--creates new hash,fills hash with values,searches for dupes,print values/delete dupes %>

<% h = Hash.new(0) %>

<% @jobloop.each do |p| %>
<% if [p.customer].each{ |e| h[e] += 1 } %>


<% end %>
<% end %>

	<% @jobloop.each do |u| %>
		<tr>
			<% if h[u.customer] == 1 %>
			<td><%= link_to u.customer,job_path(u)%></td>
			<% end %>
			<% if h[u.customer] > 1 %>
			<td><%= link_to u.customer,job_path(u)%></td>
			<% h.delete(u.customer) %>
			<% end %>


		</tr>
	<% end %>


</table>
</div>

<table>
<th>Users</th>
<% @test = User.all %>

<% @test.each do |y| %>
<tr><td><%= y.email %></td></tr>
<% end %>


</table>