// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#articles .calendar{
	table-layout: fixed;
	border-collapse: collapse;
	width: 47%;
	position: absolute;
	left: 0%;
	td,th{
		font-family: "Lucida Grande", arial,helvetica,sans-serif;
		font-size: 10px;
		padding: 4.5px;
		border: 1px solid #999;

	}

	th{
		background: #FF0554;
		color: #666;
		text-align: center;
		width: 14.28571422857143%;

	}

	td {
		background: #D1F0F7;
		color: #777;
		height: 145px;
		vertical-align: top;
		font-size: 16px;

	}

	.notmonth {color: #CCC;}
	.today {background-color: #6BE2F2}

}

#articles #month {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	a {
		text-decoration: none;
		padding: 0 10px;
		color: #999;	
	}

}

#articles ul {
	font-size: 11px;
	padding-left: 20px;
}

#title{
	text-align: center;
	text-decoration: underline;
}

#month{
	padding-left: 17%;
}

#login{
	text-align: center;

}
#add-new-job{
	border-radius: 8px;
	position: absolute;
	left: 47%;
	top: 79.9%;
	background-color: #614BCC;
	border-color: #F2636A;
	width: 53%;
	height: 20%;
}

#describe{
	width: 57.3%;
	height: 50px;
}

#cust-box{
	position: absolute;
	left: 53.5%;
	top: 85%;
}

#cust-tag{
	position: absolute;
	left: 47%;
	top: 85%;
	font-size: 25px;
}

#project-box{
	position: absolute;
	left: 67.8%;
	top: 85%;
}

#project-tag{
	position: absolute;
	left: 63%;
	top: 85%;
	font-size: 25px;
}

#hours-box{
	position: absolute;
	left: 81%;
	top: 85%;
}

#hours-tag{
	position: absolute;
	left: 77%;
	top: 85%;
	font-size: 25px;
}

#description-box{
	position: absolute;
	left: 60.4%;
	top: 92%;
}

#description-tag{
	position: absolute;
	left: 47%;
	top: 92%;
	font-size: 45px;
}

#submit-button{
	position: absolute;
	left: 90%;
	top: 92%;
}

#job-table{
	position: absolute;
	left: 48%;
}


#date-box{
	position: absolute;
	left: 70.4%;
	top: 92%;
}

html, body { background: #057F9E; }